name: publish

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: write

jobs:
  build-go:
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v6
        with:
          go-version: "^1.24.0"

      - name: Compile RestCLI
        run: |
          go build -o ./bin/restcli-${{ matrix.platform }} ./cmd/restcli
        working-directory: src

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            src/bin/restcli-${{ matrix.platform }}
